@model DotNetCoreProject.DTO.UserViewModel
@{
    ViewData["Title"] = "User List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    <script type="text/javascript" src="~/js/user.js"></script>
}

@if (TempData["successMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><span aria-hidden="true"></span></button>
        @TempData["successMessage"]
    </div>
}


<h2>@ViewData["Title"]</h2>
<hr />
<div class="form-inline text-center">
    <a asp-action="Create" class="btn btn-success">
        + Create
    </a>
    <label>Name:</label>
    <input type="text" id="nameSearchString" />
    <label>Email:</label>
    <input type="text" id="emailSearchString" />
    <label>From:</label>
    <input id="fromSearchString" />
    <label>To:</label>
    <input id="toSearchString" />
    <button type="button" onclick="search()" class="btn btn-primary">Search</button>
</div>
<p></p>
<table id="userTable" class="table table-sm table-bordered table-striped" style="width:100%">
<thead>
    <tr>
        <th>
            No
        </th>
        <th>
            Name
        </th>
        <th>
            Email
        </th>
        <th>
            Created User
        </th>
        <th>
            Type
        </th>
        <th>
            Phone
        </th>
        <th>
            Date of Birth
        </th>
        <th>
            Address
        </th>
        <th>
            Operations
        </th>
    </tr>
</thead>
</table>

<div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="detailsModalLabel">User Detail</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" />
                </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <section>
                            <img id="detailProfile"/>
                        </section>
                    </div>
                    <div class="col-md-8">
                        <section>
                            <div class="row mb-3">
                                <label asp-for="Name" class="col-sm-4"></label>
                                <div class="col-sm-8">
                                    <p class="detail-val-alt" id="detailName"></p>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label asp-for="Type" class="col-sm-4"></label>
                                <div class="col-sm-8">
                                    <p class="detail-val-alt" id="detailType"></p>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label asp-for="Email" class="col-sm-4"></label>
                                <div class="col-sm-8">
                                    <p class="detail-val-alt" id="detailEmail"></p>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label asp-for="DOB" class="col-sm-4"></label>
                                <div class="col-sm-8">
                                    <p class="detail-val-alt" id="detailDOB"></p>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label asp-for="Address" class="col-sm-4"></label>
                                <div class="col-sm-8">
                                    <p class="detail-val-alt" id="detailAddress"></p>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label asp-for="CreatedDate" class="col-sm-4"></label>
                                <div class="col-sm-8">
                                    <p class="detail-val-alt" id="detailCreatedDate"></p>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label asp-for="CreatedUser" class="col-sm-4"></label>
                                <div class="col-sm-8">
                                    <p class="detail-val-alt" id="detailCreatedUser"></p>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label asp-for="UpdatedDate" class="col-sm-4"></label>
                                <div class="col-sm-8">
                                    <p class="detail-val-alt" id="detailUpdatedDate"></p>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label asp-for="UpdatedUser" class="col-sm-4"></label>
                                <div class="col-sm-8">
                                    <p class="detail-val-alt" id="detailUpdatedUser"></p>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Post Delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" />
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <section>
                            <div class="row mb-3">
                                <label asp-for="Id" class="col-sm-4"></label>
                                <div class="col-sm-8">
                                    <p class="detail-val-alt" id="deleteId"></p>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label asp-for="Name" class="col-sm-4"></label>
                                <div class="col-sm-8">
                                    <p class="detail-val-alt" id="deleteName"></p>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label asp-for="Type" class="col-sm-4"></label>
                                <div class="col-sm-8">
                                    <p class="detail-val-alt" id="deleteType"></p>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label asp-for="Email" class="col-sm-4"></label>
                                <div class="col-sm-8">
                                    <p class="detail-val-alt" id="deleteEmail"></p>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label asp-for="Phone" class="col-sm-4"></label>
                                <div class="col-sm-8">
                                    <p class="detail-val-alt" id="deletePhone"></p>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label asp-for="DOB" class="col-sm-4"></label>
                                <div class="col-sm-8">
                                    <p class="detail-val-alt" id="deleteDOB"></p>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label asp-for="Address" class="col-sm-4"></label>
                                <div class="col-sm-8">
                                    <p class="detail-val-alt" id="deleteAddress"></p>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="modal-footer" id="deleteModalFooter">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <a class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>
