@model DotNetCoreProject.DTO.PostViewModel
@{
    ViewData["Title"] = "Confirm Create Post";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>
<hr />
<form asp-action="Create" method="post" class="my-form needs-validation" novalidate>
    <div class="row">
        <div class="col-md-12">
            <section>
                <div class="row mb-3">
                    <label asp-for="Title" class="col-sm-2 col-form-label required"></label>
                    <div class="col-sm-10">
                        <input asp-for="Title" class="form-control" aria-required="true" readonly/>
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label asp-for="Description" class="col-sm-2 col-form-label required"></label>
                    <div class="col-sm-10">
                        <textarea asp-for="Description" class="form-control" autocomplete="current-password" aria-required="true" readonly></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-10 offset-sm-2">
                        <button type="submit" class="col-sm-2 btn btn-primary">Confirm</button>
                        <a href='javascript:history.go(-1)' class="col-sm-2 btn btn-primary">Cancel</a>
                    </div>
                </div>
            </section>
        </div>
    </div>
</form>

@section scripts
{
    <partial name="_ValidationScriptsPartial" />
}