@*@model DotNetCoreProject.DTO.EmployeeViewModel*@
@model DotNetCoreProject.DTO.PostViewModel
@{
    ViewData["Title"] = "Create Post";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Create Post</h2>

<form asp-action="Create" method="post" class="needs-validation" novalidate>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Name">Name</label>
                <input asp-for="Name" class="form-control" />
                <div class="invalid-feedback">
                    <span asp-validation-for="Name"></span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Designation">Designation</label>
                <input asp-for="Designation" class="form-control" />
                <div class="invalid-feedback">
                    <span asp-validation-for="Designation"></span>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="Address">Address</label>
                <textarea asp-for="Address" class="form-control">

                </textarea>
                <div class="invalid-feedback">
                    <span asp-validation-for="Address"></span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Salary">Salary</label>
                <input asp-for="Salary" class="form-control" />
                <div class="invalid-feedback">
                    <span asp-validation-for="Salary"></span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="JoiningDate">Joining Date</label>
                <input type="date" asp-for="JoiningDate" class="form-control" />
                <div class="invalid-feedback">
                    <span asp-validation-for="JoiningDate"></span>
                </div>
            </div>
        </div>

    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
</form>*@

<h2>@ViewData["Title"]</h2>
<hr />
<form asp-action="Create" method="post" class="needs-validation" novalidate>
    <div class="row">
        <div class="col-md-12">
            <section>
                <div class="row mb-3">
                    <label asp-for="Title" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="Title" class="form-control" aria-required="true" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label asp-for="Description" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="Description" class="form-control" autocomplete="current-password" aria-required="true" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-10 offset-sm-2">
                        <button type="submit" class="col-sm-2 btn btn-lg btn-primary">Create</button>
                        <button type="submit" class="col-sm-2 btn btn-lg btn-primary">Clear</button>
                    </div>
                </div>
            </section>
        </div>
    </div>
</form>



@section scripts
{
    <partial name="_ValidationScriptsPartial" />
}
