@model DotNetCoreProject.DTO.PostViewModel
@{
    ViewData["Title"] = "Edit Post";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewData["errorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><span aria-hidden="true"></span></button>
        @ViewData["errorMessage"]
    </div>
}

<h2>@ViewData["Title"]</h2>
<hr />
<form asp-action="EditConfirm" method="post" class="my-form needs-validation" novalidate>
    <div class="row justify-content-md-center">
        <div class="col-md-6">
            <section>
                <input type="hidden" asp-for="Id" />
                <div class="row mb-3">
                    <label asp-for="Title" class="col-sm-3 col-form-label required"></label>
                    <div class="col-sm-9">
                        <input asp-for="Title" class="form-control" aria-required="true" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label asp-for="Description" class="col-sm-3 col-form-label required"></label>
                    <div class="col-sm-9">
                        <textarea asp-for="Description" class="form-control" autocomplete="current-password" aria-required="true"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label asp-for="Status" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <label class="switch" style="font-size: 1rem">
                            <input type="checkbox" asp-for="Status">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-9 offset-sm-3">
                        <button type="submit" class="col-sm-3 btn btn-primary">Edit</button>
                        <button type="reset" class="col-sm-3 btn btn-secondary">Clear</button>
                    </div>
                </div>
            </section>
        </div>
    </div>
</form>



@section scripts
    {
    <partial name="_ValidationScriptsPartial" />
}