@model DotNetCoreProject.DTO.PostViewModel
@{
    ViewData["Title"] = "Post List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    <script type="text/javascript" src="~/js/post.js"></script>
}


<h2>@ViewData["Title"]</h2>
<hr />
<div class="row text-center">
    <div class="col-md-12 ">
    <label>Keyword:</label>
    <input type="text" id="searchString" />
    <button onclick="search()" class="btn btn-primary">Search</button>
    <p></p>
    <a asp-action="Create" class="btn btn-primary">
        Create
    </a>
    <a class="btn btn-primary">
        Upload
    </a>
    <a class="btn btn-primary">
        Download
    </a>
    </div>
</div>

<table id="postTable" class="table table-sm table-bordered table-striped" style="width:100%">
<thead>
    <tr>
        <th>
            Title
        </th>
        <th>
            Description
        </th>
        <th>
            Posted User
        </th>
        <th>
            Posted Date
        </th>
        <th>
            Operations
        </th>
    </tr>
</thead>
</table>

